<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  {% load static %}	

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="static/style.css">
  <link rel="stylesheet" href="{% static 'css/style-job.css' %} ">
  <style>
    body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
    }
    .plus{
      width: 50px;
      color: green;
  }
    main {
      justify-content: space-around;
    }

    .sidebar {
      background-color: #F7882F;
      color: #fff;
      height: 100vh;
      border-radius: 20PX;
    }

    .profile-pic {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      cursor: pointer;
      float: right;
      margin: 10px;
    }



    .side-profile {

      height: 100px;
      width: 100px;
      border: 2px solid white;
      text-align: center;
    }


    .dropdowns {
      padding: 20px;
      width: 100%;
      /* Adjust width as needed */
      margin: 0 auto;
      /* Centering the dropdowns */
    }

    .dropdowns select {
      width: 100%;
      margin-bottom: 10px;
    }

    .content {
      padding-top: 20px;
    }

    /* .left{
            margin-left: -12px;
        } */

    .aside-top {
      margin-top: 1rem;

    }

    main {
      display: flex;
      flex-direction: column;
    }

    main>h1 {

      text-align: center;
      color: #F7882F;
    }

    .top-elements {
      justify-content: space-around;
      margin-bottom: 3rem;
    }
    .help{ 
      gap: 40px;
      justify-content: center;
      align-items: center;
  }
  .modal-header{
    background-color: #F7882F;
}
.star {
  width: 20px;
  margin-left: 0.4rem;
}
    .bot-elements {
      justify-content: space-around;
    }

    a{
      text-decoration-line: none;
      color: black;

    }
  </style>
</head>

<body>

  <nav class="navbar navbar-expand-lg bg-body-tertiary position-sticky glass">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse  " id="navbarSupportedContent  ">
        <a class="navbar me-auto" href="#"><img  src="{% static 'assets/dash/fodni_2.png '%}" alt="logo" width="100"></a>
        <div class="tab text-center    me-auto mb-2 mb-lg-0 ">
          <button class="maintablinks me-5 tab-button button-outline btn btn-outline  " id="maindefault"
            onclick="mainTab(event, 'providers')">Search For a Provider</button>
          <button class="maintablinks me-5 tab-button button-outline btn btn-outline   "
            onclick="mainTab(event, 'requests')"> Your Request</button>
          
          

        </div>

        <div class="profile">
          <img src="{% static 'assets/dash/cool-profile-picture-87h46gcobjl5e4xu.jpg' %}"  data-bs-toggle="dropdown" alt="Profile Picture"
            class="profile-pic">
          <!-- Default dropstart button -->
          <div class="btn-group dropstart">
            <ul class="dropdown-menu">
              <li><span class="dropdown-item-text">Profile</span></li>
              <hr>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <hr>
              <li><a class="dropdown-item" href="#">Logout</a></li>
              <!-- Dropdown menu links -->
            </ul>
          </div>
        </div>

      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <aside class="col-lg-2 col-md-3 col-sm-4 sidebar">
        <div class="aside-top text-center ">
          <a href="/profile">
            <img src="{% static 'assets/dash/cool-profile-picture-87h46gcobjl5e4xu.jpg' %}"
                alt="Profile Picture" class="side-profile">
        </a>          <H1 class="m-3">Dhia Amri</H1>
        </div>
        <div class="accordion accordion-flush mt-5 left  " id="accordionFlushExample">


          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button d-block text-center collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                Notifications
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Placeholder content
                for this accordion, which is intended to
                demonstrate the <code>.accordion-flush</code>
                class. This is the third item's accordion
                body. Nothing more exciting happening here
                in terms of content, but just filling up the
                space to make it look, at least at first
                glance, a bit more representative of how
                this
                would look in a real-world application.</div>
            </div>
          </div>
          
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="btn w-100 collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Chat
              </button>
            </h2>

          </div>
        </div>
        <a href="/logout_view" class="btn btn-danger" >Logout</a>
      </aside>
    
      <main class="col-lg-10 col-md-9 col-sm-8 content  maintabcontent " id="providers">
        <div class="container providercont " id="categories"> </div>
        
        <h1 style="margin-bottom: 30px;">Categories</h1>
        <div class="top-elements d-flex">
          <a href="#"   onclick="mainTab(event, 'list')">
            <div class="card" style="width: 18rem;">
              <img src="{% static 'assets/dash/electrician.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h2></h2>
                <p class="card-text" >Some quick example text to build on the card title and make up the bulk of the card's
                  content.</p>
                  <!-- <button onclick="mainTab(event, 'list')">Click me</button> -->
            
              </div>
            </div>
          </a>
          <a href="#"   onclick="mainTab(event, 'list')">
            <div class="card" style="width: 18rem;">
              <img src="{% static 'assets/dash/painter.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h2></h2>
                <p class="card-text" >Some quick example text to build on the card title and make up the bulk of the card's
                  content.</p>
                  <!-- <button onclick="mainTab(event, 'list')">Click me</button> -->
            
              </div>
            </div>
          </a>
          <a href="#"   onclick="mainTab(event, 'list')">
            <div class="card" style="width: 18rem;">
              <img src="{% static 'assets/dash/housekeeping.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h2></h2>
                <p class="card-text" >Some quick example text to build on the card title and make up the bulk of the card's
                  content.</p>
                  <!-- <button onclick="mainTab(event, 'list')">Click me</button> -->
            
              </div>
            </div>
          </a>
        </div>
        <div class="bot-elements d-flex">
          <a href="#">
            <div class="card" style="width: 18rem;">
              <img src="{% static 'assets/dash/pexels-malte-luk-2244746.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                  content.</p>
              </div>
            </div>
          </a>
          <a href="#">
            <div class="card" style="width: 18rem;">
              <img src="{% static 'assets/dash/plumber.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick exaaaample text to build on the card title and make up the bulk of the card's
                  content.</p>
              </div>
            </div>
          </a>
          <a href="#">
            <div class="card" style="width: 18rem;">
              <img src="{% static 'assets/dash/gardener.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                  content.</p>
              </div>
            </div>
          </a>
        </div>
      </main>
      
      
        <main class="col-lg-10 col-md-9 col-sm-8 content maintabcontent " id="requests">

          <div class="top-elements ">

              <div class="d-flex help">
                <a data-bs-toggle="modal"
                data-bs-target="#CreatestaticBackdrop" href="#"><img src="{% static 'assets/dash/plus.png' %}" class="plus" alt></a>

                    <h2>Request for help</h2>
              </div>
              <hr>

              <div class="d-flex ">
                  <img src="{% static 'assets/dash/pexels-malte-luk-2244746.jpg' %}" class="profile-pic" alt="">
                  <div class="col-2 provider">
                      <h3>Dhia Amri</h3>
                      <h6>Tunis</h6>
                  </div>
                  <div class="description">
                      <p class="col-8">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis
                          voluptate
                          amet tempora placeat harum quis eum ut accusantium optio consequuntur veniam quam
                          molestias
                          voluptatem, cumque excepturi sapiente natus expedita nihil.</p>


                  </div>
                  <p class="col-1">PRICE : <strong style="color: green;">35 DT</strong></p>

              </div>
              <hr>
              <div class="d-flex ">
                  <img src="{% static 'assets/dash/pexels-malte-luk-2244746.jpg' %}" class="profile-pic" alt="">
                  <div class="col-2 provider">
                      <h3>Dhia Amri</h3>
                      <h6>Tunis</h6>
                  </div>
                  <div class="description">
                      <p class="col-8">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis
                          voluptate
                          amet tempora placeat harum quis eum ut accusantium optio consequuntur veniam quam
                          molestias
                          voluptatem, cumque excepturi sapiente natus expedita nihil.</p>


                  </div>
                  <p class="col-1">PRICE : <strong style="color: green;">35 DT</strong></p>

              </div>
              <hr>
              <div class="d-flex ">
                  <img src="{% static 'assets/dash/pexels-malte-luk-2244746.jpg' %}" class="profile-pic" alt="">
                  <div class="col-2 provider">
                      <h3>Dhia Amri</h3>
                      <h6>Tunis</h6>
                  </div>
                  <div class="description">
                      <p class="col-8">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis
                          voluptate
                          amet tempora placeat harum quis eum ut accusantium optio consequuntur veniam quam
                          molestias
                          voluptatem, cumque excepturi sapiente natus expedita nihil.</p>


                  </div>
                  <p class="col-1">PRICE : <strong style="color: green;">35 DT</strong></p>

              </div>
              <hr>
              
              

          </div>
      </main>

      <main id="list" class="col-lg-10 col-md-9 col-sm-8 content  maintabcontent"  >
        <h1>Contact a Service Provider</h1>
        <hr>

        <div class="top-elements ">


            <div class="d-flex">
                <img src="{% static 'assets/dash/pexels-malte-luk-2244746.jpg' %}" class="profile-pic" alt="">
                <div class="col-2 provider">
                    <h3>Dhia Amri</h3>
                    <h6>Tunis</h6>
                </div>
                <div class="description">
                    <p class="col-8">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis
                        voluptate
                        amet tempora placeat harum quis eum ut accusantium optio consequuntur veniam quam
                        molestias
                        voluptatem, cumque excepturi sapiente natus expedita nihil.</p>


                </div>
                <p>(4.2)<img src="{% static 'assets/dash/star.png' %}" class="star" alt=""></p>

            </div>
            <hr>
            <a href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                <div class="d-flex">
                    <img src="{% static 'assets/dash/pexels-malte-luk-2244746.jpg' %}" class="profile-pic" alt="">
                    <div class="col-2 provider">
                        <h3>Dhia Amri</h3>
                        <h6>Tunis</h6>
                    </div>
                    <div class="description">
                        <p class="col-8">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis
                            voluptate
                            amet tempora placeat harum quis eum ut accusantium optio consequuntur veniam quam
                            molestias
                            voluptatem, cumque excepturi sapiente natus expedita nihil.</p>


                    </div>
                    <p>(4.2)<img src="{% static 'assets/dash/star.png' %}" class="star" alt=""></p>
                </div>
            </a>
            <hr>
            <div class="d-flex">
                <img src="{% static 'assets/dash/pexels-malte-luk-2244746.jpg' %}" class="profile-pic" alt="">
                <div class="col-2 provider">
                    <h3>Dhia Amri</h3>
                    <h6>Tunis</h6>
                </div>
                <div class="description">
                    <p class="col-8">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis
                        voluptate
                        amet tempora placeat harum quis eum ut accusantium optio consequuntur veniam quam
                        molestias
                        voluptatem, cumque excepturi sapiente natus expedita nihil.</p>


                </div>
                <p>(4.2)<img  src="{% static 'assets/dash/star.png' %}" class="star" alt=""></p>

            </div>

        </div>
    </main>
    <div class="modal fade" id="CreatestaticBackdrop"
                data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header ">
                            <h2 style="color: white;" id="staticBackdropLabel">Add
                                a Job</h2>
                            <button type="button" class="btn-close"
                                data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container mt-4">
                                <form>
                                    <div class="form-group">
                                        <label for="input1">Title : </label>
                                        <input type="text" class="form-control"
                                            id="input1" placeholder="Title">
                                    </div>
                                    <div class="form-group">
                                        <label for="dropdown">Categorie</label>
                                        <select class="form-control"
                                            id="dropdown">
                                            <option value="option1">Option 1</option>
                                            <option value="option2">Option 2</option>
                                            <option value="option3">Option 3</option>
                                            <option value="option4">Option 4</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="input2">Price in DT :
                                        </label>
                                        <input type="number"
                                            class="form-control" id="input2"
                                            placeholder="Your suggested Price in DT">
                                    </div>
                                    <div class="form-group">
                                        <label for="textarea">Description</label>
                                        <textarea class="form-control"
                                            id="textarea" rows="5" placeholder></textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn"
                                            style="background-color: #F7882F; color: white;">Submit</button>
                                        <button type="button"
                                            class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header ">
                            <img src="{% static 'assets/dash/pexels-malte-luk-2244746.jpg' %}" class="profile-pic" alt="">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Dhia Amri</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>profession :<strong> Job Title</strong></p>
                            <p>Rating : <strong>(4.2)</strong><img src="assets/star.png" class="star" alt=""></p>
                            <hr>
                            <p>Address : Lorem ipsum dolor sit amet.</p>
                            <p>Phone : Lorem ipsum dolor sit amet.</p>
                            <p>E-mail : Lorem ipsum dolor sit amet.</p>
                            <p>Bio : Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur, adipisicing
                                elit.
                                Id!</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Contact</button>
                        </div>
                    </div>
                </div>
            </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
    <script src="{% static 'js/script.js' %}" ></script>

</body>

</html>